.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: 1rem; */
  background-color: #222222;
  height: 300px;
  text-align: left;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}

html {
	height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}

.test {
	width: 100%;
	border-width: 5px;
	border-style: solid;
	height: 100px;
}

.project-img {
	width: 100%;
}

.row-m-t{
  margin-top : 20px
}

.screenshot {
  width: 100%;
}

.icon {
  height: 36px;
}

.project-text {
  font-size: 20px;
}

.project-end {
  padding-bottom: 250px;
}

.publication {
  padding-bottom: 250px;
  margin-top: 50px;
}

.footer-text {
  display: inline;
  padding-left: 10px;
}

.footer-list {
  list-style: none;
}

.footer-img {
  width: 33%;
  /* display: inline; */
  border-color: #ffffff;
  border: solid;
  border-width: 3px;
  float: left; 
  margin-right: 10px;
}

.footer-bio {
  font-size: 16px;
}

.contact {
  padding-bottom: 300px;
  margin-top: 50px;
}

.profile-img {
  width: 33%;
  
  border-color: #ffffff;
  border: solid;
  border-width: 3px;
  float: left; 
  margin-right: 10px;
}

.about {
  padding-bottom: 300px;
  margin-top: 50px;
  font-size: 16px;
}

.nav-stuff li {
  font-size: 18px;
}

.nav-stuff a {
  color: #ffffff;
  text-decoration: none;
}

.nav-stuff a:visited {
  color: inherit;
}

.nav-stuff a:hover {
  color: #333333;
}

.page-title {
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 80px;
  font-size: 60px;
  margin-top: -20px;
}

.top-color {
  background-color: #a0c3fe;
}

#projects {
  margin-top: 50px;
}

