.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  height: 60px;
  text-align: center;
}

html {
	height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.test {
	width: 100%;
	border-width: 5px;
	border-style: solid;
	height: 100px;
}

.project-img {
	width: 100%;
}

.row-m-t{
  margin-top : 20px
}

.screenshot {
  width: 100%;
}